@* @{
    Layout = "MainLayout";
} *@

@using SandalProject.Models

@model List<Sandali>


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrello</title>
    <link rel="stylesheet" href="~/css/Carrello.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="top-section">
            <h1>Carrello</h1>
            <p>3 Articoli - €745,85</p>
            <hr>
        </div>
        <div class="cart">
            <div class="cart-items">

                <div id="id" class="cart-item">
                    <img src="product1.jpg" alt="Product 1">
                    <div class="cart-item-details">
                        <h4>Nome prodotto 1</h4>
                        <p>Taglia: M</p>
                        <p>€125.95</p>
                        <div class="cart-item-quantity">
                            <button id="decrease_id">-</button>
                            <input id="quantity_id" type="number" value="2" min="1">
                            <button id="increase_id">+</button>
                        </div>
                    </div>
                    <button id="remove-item_id" class="remove-item">X</button>
                </div>


                <button class="clear-cart" id="clear-cart">Svuota Carrello</button>
            </div>

            <div class="cart-summary">
                <div class="promo-code">
                    <label for="promo-code">Hai un codice promozionale?</label>
                    <input type="text" id="promo-code" name="promo-code">
                    <button>Applica</button>
                </div>
                <hr>
                <div class="order-summary">
                    <h3>Riepilogo ordine</h3>
                    <p>Subtotale <span>€745.85</span></p>
                    <p>Spedizione <span>Gratis</span></p>
                    <p>TOTALE (IVA inclusa) <span>€745.85</span></p>
                    <button>Procedi all'acquisto</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/Account/Carrello.js"></script>
</body>
</html>