@{
    Layout = "MainLayout";
}

@using SandalProject.Models
@model List<Sandali>
@{
    double? totalePrezzo = Model.Sum(item => item.Prezzo);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrello</title>
    <link rel="stylesheet" href="~/css/Carrello.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="top-section">
            <h1>Carrello</h1>
            @foreach(Sandali s in Model)
            {
                double? sum = 0;
                sum += s.Prezzo;
            }
            <p>@Model.Count() Articoli - €@totalePrezzo</p>
            <hr>
        </div>
        <div class="cart">
            @if(Model.Count() > 0)
            {
                <div class="cart-items">
                    @foreach (Sandali s in Model)
                    {
                        <div id="id" class="cart-item">
                            <a href="/Dettagli/Dettagli?id=@s.Id"><img src="/Dettagli/GetImage?id=@s.Id&posizioneLista=0" alt="Product 1"></a>
                            <div class="cart-item-details">
                                <h4>@s.Nome</h4>
                                <p>Taglia: @s.Taglia</p>
                                <p>€@s.Prezzo</p>
@*                                 <div class="cart-item-quantity">
                                    <button id="decrease_id">-</button>
                                    <input id="quantity_id" type="number" value="1" min="1">
                                    <button id="increase_id">+</button>
                                </div> *@
                            </div>
                            <button onclick="window.location.href='/Carrello/EliminaCarrello?id=@s.Id'" id="remove-item_id" class="remove-item">X</button>
                        </div>
                    }
                    <button onclick="window.location.href='/Carrello/SvuotaCarrello'" class="clear-cart" id="clear-cart">Svuota Carrello</button>
                </div>
            }
            else
            {
                <div>
                    <h2>Il tuo carrello è vuoto. <br />Aggiungi qualche prodotto e lo potrai visualizzare qui!</h2>
                </div>
            }

            <div class="cart-summary">
                <div class="promo-code">
                    <label for="promo-code">Hai un codice promozionale?</label>
                    <input type="text" id="promo-code" name="promo-code">
                    <button>Applica</button>
                </div>
                <hr>
                <div class="order-summary">
                    <h3>Riepilogo ordine</h3>
                    <p>Subtotale <span>€@totalePrezzo</span></p>
                    <p>Spedizione <span>Gratis</span></p>
                    <p>TOTALE (IVA inclusa) <span>€@totalePrezzo</span></p>
                    <a href="/Carrello/Paymentone"><button>Procedi all'acquisto</button></a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/Account/Carrello.js"></script>
</body>
</html>