@{
    Layout = "MainLayout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweaty Sandals</title>
    <link rel="stylesheet" href="~/css/Home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="banner">
        <div class="slider">
            <div class="slides">
                <div class="slide"><div class="text"><h2>SOLO SANDALI</h2></div><img src="~/img/Banners/download.png" alt="Image 1"></div>
                <div class="slide"><div class="text"><h2>SOLO SANDALI</h2></div><img src="" alt="Image 2"></div>
                <div class="slide"><div class="text"><h2>SOLO SANDALI</h2></div><img src="" alt="Image 3"></div>
            </div>
        </div>
        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="next" onclick="moveSlide(1)">&#10095;</button>
    </div>


    <div class="seasons">

        <ul>
            <li>Autunno</li>
            <li>Inverno</li>
            <li>Primavera</li>
            <li>Estate</li>
        </ul>

    </div>


    <section class="featured">

        <div class="categoria">
            <h3>In evidenza</h3>
            <h3 class="categoria-titolo"> Donna </h3>
        </div>

        <div class="product-grid">

            <div class="product">
                <img src="" alt="Prodotto 1">
                <div class="color-options"></div>
                <p>Lorem Ipsum</p><br>
                <span>Sold Out</span><br>
            </div>


            <div class="product">
                <img src="" alt="Prodotto 2">
                <div class="color-options"></div>
                <p>Lorem Ipsum</p><br>
                <span>Sold Out</span><br>
            </div>

            <div class="product">
                <img src="" alt="Prodotto 3">
                <div class="color-options"></div>
                <p>Lorem Ipsum</p><br>
                <span>Sold Out</span><br>
            </div>

        </div>

    </section>
    <hr />
    <section class="featured">
        <div class="categoria">
            <h3 class="categoria-titolo"> Kids </h3>
        </div>
        <div class="product-grid">

            <div class="product">
                <img src="" alt="Prodotto 1">
                <div class="color-options">
                </div>
                <p>Lorem Ipsum</p><br>
                <span>Sold Out</span><br>
            </div>


            <div class="product">
                <img src="" alt="Prodotto 2">
                <div class="color-options">
                </div>
                <p>Lorem Ipsum</p><br>
                <span>Sold Out</span><br>
            </div>

            <div class="product">
                <img src="" alt="Prodotto 3">
                <div class="color-options">
                </div>
                <p>Lorem Ipsum</p><br>
                <span>Sold Out</span><br>
            </div>
        </div>
    </section>
    <hr />

    <section class="featured">
        <div class="categoria">
            <h3 class="categoria-titolo"> Uomo </h3>
        </div>
        <div class="product-grid">

            <div class="product">
                <img src="" alt="Prodotto 1">
                <div class="color-options">
                </div>
                <p>Lorem Ipsum</p><br>
                <span>Sold Out</span><br>
            </div>


            <div class="product">
                <img src="" alt="Prodotto 2">
                <div class="color-options">
                </div>
                <p>Lorem Ipsum</p><br>
                <span>Sold Out</span><br>
            </div>

            <div class="product">
                <img src="" alt="Prodotto 3">
                <div class="color-options">
                </div>
                <p>Lorem Ipsum</p><br>
                <span>Sold Out</span><br>
            </div>
        </div>
    </section>
    <script src="~/js/Home.js"></script>
</body>
</html>