@using SandalProject.Models;
@using SandalProject.Utility;
@model Dictionary<Entity, FileContentResult>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="/Utente/UploadImageToDatabase">
        <label for="file">Seleziona immagine PNG:</label>
        <input type="file" name="file" id="file" accept="image/png" />
        <button type="submit">Carica</button>
    </form>

    @* <img src ="@ViewBag.Image" alt = "immagine si spera"/> *@
</body>
</html>