@{
    Layout = "MainLayout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="/Utente/CaricaFileSandali">
        <label for="file">Carica file Excel:</label>
        <input type="file" name="filexlsx" id="file" accept=".xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
        <button type="submit">Carica</button>
    </form>
    <script src="~/js/Account/Admin.js"></script>
</body>
</html>