<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recupero Password</title>
    <link rel="stylesheet" href="~/css/RecuperaPassword.css">
</head>
<body>
    <div class="container">
        <h1>Recupero Password</h1>
        <p>Inserire l'email usata in fase di registrazione.</p>
        <input type="text" class="inseremail" placeholder="Inserisci qui la tua email di registrazione..." id="emailInput">
        <input type="text" class="inseremail" placeholder="Conferma la tua email di registrazione..." id="confirmEmailInput">
        <input type="submit" id="submitButton" value="Invia">
        <input type="button" id="returnButton" value="Indietro">
        <div id="alertMessage" class="hidden"></div>
    </div>

    <script src="~/js/Account/RecuperaPassword.js"></script>
</body>
</html>