@{
    Layout = "MainLayout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Info.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Informativa sulla Privacy</title>
</head>
<body>
    <div class="content-wrapper-aboutus">
        <h1>Informativa sulla Privacy</h1>
        <div class="container-privacy">
            <p>La tua privacy è importante per noi.<br> Questa informativa spiega come raccogliamo, utilizziamo e proteggiamo i tuoi dati personali.</p>
        </div>
        <h2>Dati raccolti</h2>
        <p>Raccogliamo informazioni che ci fornisci direttamente, come il tuo nome, indirizzo email e dati di pagamento. Utilizziamo inoltre cookie per migliorare la tua esperienza sul nostro sito.</p>

        <h2>Come utilizziamo i tuoi dati</h2>
        <p>Utilizziamo i tuoi dati per processare ordini, fornirti assistenza clienti e inviarti comunicazioni promozionali, solo se hai fornito il tuo consenso.</p>

        <h2>Condivisione dei dati</h2>
        <p>I tuoi dati non verranno condivisi con terze parti, a meno che non sia strettamente necessario per completare una transazione o per obblighi legali.</p>

        <h2>I tuoi diritti</h2>
        <p>Hai il diritto di accedere, rettificare o cancellare i tuoi dati personali in qualsiasi momento. Contattaci per esercitare questi diritti.</p>

        <p>Per ulteriori informazioni, non esitare a contattarci all'indirizzo privacy@example.com.</p>
    </div>
</body>
</html>