body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.top-section h1 {
    margin: 0;
    text-align: left;
}

.top-section p {
    margin: 5px 0;
}

.top-section hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}

.cart {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cart-items, .cart-summary {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-items {
    width: 65%;
}

.cart-summary {
    width: 30%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: sticky;
    top: 0px;
    align-self: flex-start;
    margin-left: 10px;
    z-index: 1000;
}

.parent-container {
    position: relative;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

    .cart-item img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
    }

.cart-item-details {
    flex: 1;
    margin-left: 20px;
}

    .cart-item-details h4 {
        margin: 0;
    }

    .cart-item-details p {
        margin: 5px 0;
    }

.cart-item-quantity {
    display: flex;
    align-items: center;
}

    .cart-item-quantity input::-webkit-outer-spin-button,
    .cart-item-quantity input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .cart-item-quantity input[type=number] {
        -moz-appearance: textfield;
    }

    .cart-item-quantity button {
        background: #000;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .cart-item-quantity input {
        width: 50px;
        text-align: center;
        margin: 0 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
    }

.promo-code {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

    .promo-code label {
        font-weight: bold;
    }

    .promo-code input {
        width: 100%;
        box-sizing: border-box;
        padding: 7px;
        margin-top: 10px;
        border-radius: 5px;
    }

    .promo-code button {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
        background: #000;
        color: #fff;
        border: none;
        cursor: pointer;
    }

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

.order-summary {
    margin-top: 20px;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

    .order-summary h3 {
        margin-top: 0;
    }

    .order-summary p {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }

    .order-summary button {
        width: 100%;
        background: #000;
        color: #fff;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }

.remove-item {
    background: #000000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 25px;
    align-self: top;
}

.clear-cart {
    background: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
}

@media (max-width: 1150px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    .cart {
        flex-direction: column;
    }

    .cart-summary {
        width: 95%;
        margin-top: 20px;
        margin-left: 0px;
    }

    .cart-item img {
        width: 80px;
        margin-right: 10px;
    }

    .cart-item-details h4 {
        font-size: 18px;
    }

    .cart-item-details p {
        font-size: 16px;
    }

    .cart-item-quantity button {
        padding: 5px 10px;
    }

    .cart-item-quantity input {
        width: 45px;
    }

    .cart-items {
        width: 95%;
    }

    .promo-code {
        width: 98%;
    }

        .promo-code input, .promo-code button {
            width: 100%;
            padding: 7px;
        }

    .order-summary {
        width: 98%;
    }

        .order-summary p {
            font-size: 16px;
        }

        .order-summary button {
            padding: 10px;
        }
}


@media (max-width: 753px) {
    .container {
        width: 95%;
        padding: 5px;
    }

    .cart-item img {
        width: 100px;
    }

    .cart-summary {
        width: 90%;
        margin-top: 10px;
        margin-left: 0px;
    }

    .cart-item-details h4 {
        font-size: 16px;
    }

    .cart-item-details p {
        font-size: 14px;
    }

    .cart-item-quantity button {
        padding: 3px 7px;
    }

    .cart-item-quantity input {
        width: 40px;
    }

    .cart-items {
        width: 90%;
    }

    .promo-code {
        width: 95%;
    }

        .promo-code input, .promo-code button {
            width: 98%;
            padding: 5px;
        }

    .order-summary {
        width: 95%;
    }

        .order-summary p {
            font-size: 14px;
        }

        .order-summary button {
            padding: 8px;
        }
}
