*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1vw;
}

h1 {
    margin: 0;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2vw;
    padding: 2vw;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
    width: 100%;
    max-width: 40vw;
}


    .image-grid img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1vw;
    }

.product-details {
    border: 1px solid #eaeaea;
    padding: 1vw;
    border-radius: 1vw;
    max-width: fit-content;
    width: 30%;
}


.product-container .fas {
    color: red;
}


.titolo h2 {
    display: flex;
    align-items: center;
}

.colori {
    display: flex;
    width: 100%;
    max-width: 27vw;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    touch-action: none;
    user-select: none;
    padding: 0.5vw;
}

.colore {
    width:2vw;
    height:2vw;
    margin-inline: 0.5vw;
    background-color: var(--coloreSandalo);
    border: solid 1px var(--coloreSandalo);
    border-radius: 60%;
}

    .colore.selected {
        border: solid 0.2vw black;
        margin-top: 0.2vw white;
    }

        .colore.selected[data-color="black"] {
            border: solid 0.2vw cyan;
        }

    .colore:hover {
        background-color: var(--coloreSandalo) !important;
        border-color: #000;
        box-shadow: 0px 0px 5px var(--coloreSandalo);
    }

    .colore.selected:hover {
        background-color: var(--coloreSandalo) !important;
        box-shadow: 0px 0px 0px var(--coloreSandalo);
    }

.product-details .fa-heart {
    margin-left: 85%;
    font-size: 1.7vw;
}

.size-selection {
    margin-bottom: 1vw;
}

.sizes span {
    display: inline-block;
    margin: 10px;
    width:2vw;
    height:2.4vw;
    border: 1px solid #eaeaea;
    border-radius: 30%;
    cursor: pointer;
    text-align:center;
    align-content:center;
}

    .sizes span.selected {
        background-color: black;
        color: white;
    }

    .sizes span:hover {
        background-color: #f5f5f5;
    }

    .sizes span.selected:hover {
        background-color: black;
        color: white;
    }

button {
    display: block;
    margin:auto;
    width: 80%;
    margin-bottom: 1vw;
    padding: 0.4vw;
    border: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    font-size: 1vw;
    border-radius: 0.5vw;
}

    button:hover {
        background-color: #444;
    }

.description, .details, .specifications {
    margin-bottom: 1vw;
}

    .description p, .details ul, .specifications ul {
        font-size: 0.6vw;
    }

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5vw;
}

.specifications ul{
    list-style-type:circle;
    margin-left:20px;
}

@media screen and (max-width: 800px) {
    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 3vw;
    }

    .product-container {
        display: block;
    }

    .image-grid {
        z-index: -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        width: 100%;
        max-width: unset;
        align-items: center;
        margin-bottom: 20px;
    }

        .image-grid img {
            z-index: -1;
        }


    .product-details {
        z-index: 10;
        width: 90%;
        max-width: unset;
        margin: auto;
        padding:20px
    }

    .titolo{
        display:flex;

        text-align:center;
    }

    .titolo h2{
    }

    .product-details .fa-heart {
        margin-top:5%;
        margin-left:35%;
        font-size: 5vw;
    }

    .product-container .fas{
        color:red;
    }

    .titolo h2 {
        font-size: 4vw;
        justify-content: center;
    }

    .colori {
        height: auto;
        padding: 1rem;
    }

    .colore {
        padding: 2vw;
    }
    
    .sizes span {
        width:5vw;
        height:5vw;
        font-size: 2vw;
    }

    button {
        padding: 1vw;
        font-size: 1.5rem;
    }

    .description, .details, .specifications {
        margin-bottom: 2vw;
    }

        .description p, .details ul, .specifications ul {
            font-size: 1.8vw;
        }


    li {
        margin-bottom: 0.8vw;
    }
}
