body {
    font-family: 'Poppins', sans-serif;

    
}

.title-box {
    color: white;
    padding: 20px;
    width: 40%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1em;
    margin-left: 27%;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    margin: 50px 10%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgb(57, 57, 57);
}


.content-wrapper-aboutus {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgb(57, 57, 57);
    margin-top: 7%;
    margin-bottom: 7%;
}


.container {
    padding: 30px;
    max-width: 1300px;
    border-radius: 10px;
    width: 100%;
}

.content-wrapper-aboutus h1, .content-wrapper h1 {
    text-align: center;
}

.content-wrapper-aboutus h2, .content-wrapper h2 {
    margin: 0;
    font-size: 1.5em;
}

.content-wrapper-aboutus p, .content-wrapper p {
    margin: 10px 0 20px;
    font-size: 1.1em;
}

.container-privacy {
    text-align: center;
}

.contact-container h1 {
    text-align: center;
    margin: 2rem 0;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.contact-form {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgb(57, 57, 57);
    width: 100%;
    max-width: 500px;
}

.form-group {
    margin-bottom: 1.5rem;
}

.contact-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.contact-container input[type="text"],
.contact-container input[type="email"],
.contact-container textarea {
    width: 90%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.contact-container textarea {
    resize: vertical;
    height: 100px;
}

.contact-container button {
    color:white;
    background-color: #000;
    border: 1px solid white;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.contact-container button:hover {
    background-color: #444;
}

@media (max-width: 600px) {

    .contact-container h1 {
        font-size: 24px;
    }

    .contact-form {
        padding: 1rem; 
    }
}

