@using SandalProject.Models;
@model List<Sandali>
@{
    Layout = "MainLayout";
}
<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bozza Pagina E-commerce</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Stagioni.css">
</head>

<body>
    <div class="contenitore">
        <div class="content">
            <div class="filters">
                <div class="dropdown">
                    <button class="dropbtn">Prezzo</button>
                    <div class="dropdown-content">
                        <label><input type="checkbox" value="Opzione 1"> Opzione 1</label>
                        <label><input type="checkbox" value="Opzione 2"> Opzione 2</label>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Modello</button>
                    <div class="dropdown-content">
                        <label><input type="checkbox" value="Opzione 1"> Opzione 1</label>
                        <label><input type="checkbox" value="Opzione 2"> Opzione 2</label>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Stagione</button>
                    <div class="dropdown-content">
                        <label><input type="checkbox" value="Opzione 1"> Opzione 1</label>
                        <label><input type="checkbox" value="Opzione 2"> Opzione 2</label>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Colore</button>
                    <div class="dropdown-content">
                        <label><input type="checkbox" value="Opzione 1"> Opzione 1</label>
                        <label><input type="checkbox" value="Opzione 2"> Opzione 2</label>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Taglia</button>
                    <div class="dropdown-content">
                        <label><input type="checkbox" value="Opzione 1"> Opzione 1</label>
                        <label><input type="checkbox" value="Opzione 2"> Opzione 2</label>
                    </div>
                </div>
                <button class="button">Applica Filtri</button>
            </div>
            <div class="season-label">Autunno</div>
            <div class="container">
                <div class="item">
                    <div class="box">
                        <img src="image1.jpg" alt="Immagine 1">
                    </div>
                    <div class="buttons">
                        <a href="#" class="button"><i class="fas fa-shopping-bag"></i></a>
                        <a href="#" class="button"><i class="fas fa-heart"></i></a>
                        <a href="#" class="button"><i class="fas fa-info-circle"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <img src="image2.jpg" alt="Immagine 2">
                    </div>
                    <div class="buttons">
                        <a href="#" class="button"><i class="fas fa-shopping-bag"></i></a>
                        <a href="#" class="button"><i class="fas fa-heart"></i></a>
                        <a href="#" class="button"><i class="fas fa-info-circle"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <img src="image3.jpg" alt="Immagine 3">
                    </div>
                    <div class="buttons">
                        <a href="#" class="button"><i class="fas fa-shopping-bag"></i></a>
                        <a href="#" class="button"><i class="fas fa-heart"></i></a>
                        <a href="#" class="button"><i class="fas fa-info-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Elenco/Risultati.js"></script>
</body>
</html>