@{
    Layout = "MainLayout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Info.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Chi Siamo</title>
</head>
<body>
    <div class="content-wrapper-aboutus">
        <h1>About Us</h1>
        <h2>Chi Siamo</h2>
        <p>Benvenuti in Sweaty Sandals! Siamo un'azienda dedicata alla creazione di sandali comodi e alla moda per ogni occasione.</p>

        <h2>La Nostra Missione</h2>
        <p>La nostra missione è fornire ai nostri clienti prodotti di alta qualità, combinando comfort e stile per una esperienza unica.</p>

        <h2>Il Nostro Team</h2>
        <p>Il nostro team è composto da esperti del settore che lavorano con passione per garantire la massima soddisfazione dei clienti.</p>

        <h2>Contattaci</h2>
        <p>Per qualsiasi domanda, non esitare a contattarci all'indirizzo email supporto@example.com.</p>
    </div>
</body>
</html>