@{
    Layout = "MainLayout";
}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweaty Sandals - Product Page</title>
    <link rel="stylesheet" href="~/css/Info.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>FAQ - Domande Frequenti</title>
</head>
<body>


    <div class="content-wrapper">

        <div class="container">
            <h1>Domande Frequenti</h1>
            <h2>Come posso creare un account?</h2>
            <p>Per creare un account, clicca su "Registrati" in alto a destra e compila il modulo con le tue informazioni personali.</p>

            <h2>Come posso reimpostare la mia password?</h2>
            <p>Vai alla pagina di login e clicca su "Hai dimenticato la password?". Segui le istruzioni per reimpostarla.</p>

            <h2>Quali metodi di pagamento accettate?</h2>
            <p>Accettiamo pagamenti con carta di credito, PayPal e bonifico bancario.</p>

            <h2>Quanto tempo ci vuole per la consegna?</h2>
            <p>I tempi di consegna variano in base alla tua posizione e al metodo di spedizione scelto. Generalmente, la consegna avviene entro 5-7 giorni lavorativi.</p>

            <h2>Come posso contattare il supporto clienti?</h2>
            <p>Puoi contattare il nostro supporto tramite email all'indirizzo supporto@example.com o chiamando il numero 123-456-7890.</p>
        </div>
    </div>
</body>
</html>