@{
    Layout = "MainLayout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solo Sandali - Not Found</title>
    <link rel="stylesheet" href="~/css/NotFound.css">
</head>
<body>

    <div class="content">
        <img src="~/img/Logos/notfound-logo.png" id="CE" class="responsive-image"><br>
        <h1> 404 Not Found</h1>
    </div>

</body>
</html>